<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments.html :: header"></div>
</head>
<body>
<div id="navbar" th:replace="fragments.html :: navbar"></div>
<div th:replace="fragments.html :: alert"></div>
<br>
<h1>
    Create Project
</h1>
<!--Write under this-->
<main class="container">
    <form id="createProjectForm" style="margin: 60px" th:action="@{/newProject}" th:object="${project}"
          method="post">
        <!----......coment----->

        <div class="mb-3">
            <label class="form-label">Project name </label>
            <div class="col-md-12">
                <input th:field="*{name}" type="text" class="form-control" id="nameInput"
                       placeholder="e.g Clean Cardiff Project...">
            </div>
        </div>


        <div class="mb-3">
            <label class="form-label">Description </label>
            <div class="col-md-12">
                <textarea th:field="*{description}" class="form-control" id="projectDescription" rows="3"
                          placeholder="Describe the project"></textarea>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Objective </label>
            <div class="col-md-12">
                <textarea th:field="*{objective}" class="form-control" rows="3"
                          placeholder="Let us know the objective of the project"></textarea>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Author </label>
            <div class="col-md-12">
                <input th:field="*{author}" class="form-control"></input>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">About the Author </label>
            <div class="col-md-12">
                <textarea th:field="*{about}" class="form-control" id="about the Author" rows="3"
                          placeholder="Tell us about the Author"></textarea>
            </div>
        </div>


        <div class="mb-3">
            <label class="form-label">Project URL </label>
            <div class="col-md-12">
                <input th:field="*{url}" class="form-control" id="url"></input>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <div class="col-md-12">
                <input th:field="*{address}" class="form-control" placeholder="e.g. CF10 3AT"></input>
            </div>
        </div>
        <input type="hidden" th:value="${project.getCommunity().getId()}" name="communityId"/>

        <br>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" style="width: 100px" type="submit">Submit</button>
        </div>

        <!--        <div id="profPicRow" class="row">-->
        <!--            <p>-->
        <!--                <label for="prof-picture" style="top: auto">Upload a profile picture</label>-->
        <!--                <input type="file" id="prof-picture" accept="image/*" multiple>-->
        <!--            </p>-->
        <!--        </div>-->
    </form>
</main>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>